appdirs==1.4.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
instagrapi==1.16.14
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
Pillow==9.0.1
playwright==1.20.0
pycryptodomex==3.12.0
pydantic==1.9.0
pyee==8.1.0
pyppeteer==1.0.2
pyppeteer-stealth==2.7.3
PySocks==1.7.1
python-dotenv==0.19.2
requests==2.27.1
secure-smtplib==0.1.1
six==1.16.0
tqdm==4.63.1
typing-extensions==4.1.1
urllib3==1.26.9
websockets==10.1
Werkzeug==2.0.3
zipp==3.7.0
